{% extends 'baseMuestra.html' %}

{% block contenido %}

<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">


     <table border="1">
          <tr>
               <td><b>Nombre de usuario</b></td>
               <td><b>Fecha de la consulta/comentario</b></td>
               <td><b>Consulta/Comentario</b></td>
               
          </tr>
{% for consulta in consultas %}
          <tr>
               <td>{{consulta.1}}</td>
               <td>{{consulta.2}}</td>
               <td>{{consulta.3}}</td>
          </tr>
{% endfor %}	


{% endblock %}